body {background-color:#34247f;}


@font-face{
		font-family: 'trumpgoteasbol';
		src: url('../fonts/trumpgoteasbol-webfont-webfont.ttf');
}

.title{
	font-family: 'trumpgoteasbol';
	font-size: 100px;

	text-align: center;	
 	color: #fdce25;
 	margin-top: -.059em;
 	position: absolute;
 	text-shadow: 0px 0px 30px rgba(235, 191, 16, 0),
		0px 0px 30px rgba(235, 191, 16, 0),
		1px 1px 0px  #f8f7e5, 
		1px -1px 0px  #fdce25;	
}

.char1 {
	color: #CC33BB;
}

.char18 {
	color: #CC33BB;
}

/* Crap b*/

.title span:hover{-webkit-transition: all .2s ease-out, font-size, padding-top, top, margin-top, margin, left, padding-left, margin-left, background, background-size, line-height, padding-bottom, padding-right, margin-right 0s linear;-moz-transition: all .23s ease-out, font-size, padding-top, top, margin-top, margin, left, padding-left, margin-left, background, background-size, line-height, padding-bottom, padding-right, margin-right 0s linear;-o-transition: all .23s ease-out, font-size, padding-top, top, margin-top, margin, left, padding-left, margin-left, background, background-size, line-height, padding-bottom, padding-right, margin-right 0s linear;-ms-transition: all .23s ease-out, font-size, padding-top, top, margin-top, margin, left, padding-left, margin-left, background, background-size, line-height, padding-bottom, padding-right, margin-right 0s linear; transition: all .23s ease-out, font-size, padding-top, top, margin-top, margin, left, padding-left, margin-left, background, background-size, line-height, padding-bottom, padding-right, margin-right 0s linear;}

.char1:hover{
	-webkit-transform: rotate(-1deg) translateX(4px); -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	-moz-transform: rotate(-1deg) translateX(4px); -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	-ms-transform: rotate(-1deg) translateX(4px); -ms-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	-o-transform: rotate(-1deg) translateX(4px); -o-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	transform: rotate(-1deg) translateX(4px); box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	zoom: 1;
}

.char2:hover{
	-webkit-transform: rotate(2deg) translateX(-3px); -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-moz-transform: rotate(2deg) translateX(-3px); -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-ms-transform: rotate(2deg) translateX(-3px); -ms-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-o-transform: rotate(2deg) translateX(-3px); -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	transform: rotate(2deg) translateX(-3px); box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	zoom: 1;
}

.char3:hover{
	-webkit-transform: rotate(4deg) translateX(-3px); -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-moz-transform: rotate(4deg) translateX(-3px); -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-ms-transform: rotate(4deg) translateX(-3px); -ms-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-o-transform: rotate(4deg) translateX(-3px); -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	transform: rotate(4deg) translateX(-3px); box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	zoom: 1;
}

.char8:hover{
	-webkit-transform: rotate(4deg) translateX(-4px); -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-moz-transform: rotate(4deg) translateX(-4px); -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-ms-transform: rotate(4deg) translateX(-4px); -ms-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-o-transform: rotate(4deg) translateX(-4px); -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	transform: rotate(4deg) translateX(-42px); box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	zoom: 1;
}

.char7:hover{
	-webkit-transform: rotate(3deg) translateX(-4px); -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-moz-transform: rotate(3deg) translateX(-4px); -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-ms-transform: rotate(3deg) translateX(-4px); -ms-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-o-transform: rotate(3deg) translateX(-4px); -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	transform: rotate(3deg) translateX(-4px); box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	zoom: 1;
}

.char4:hover{
	-webkit-transform: rotate(1deg) translateX(-3px); -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-moz-transform: rotate(1deg) translateX(-3px); -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-ms-transform: rotate(1deg) translateX(-3px); -ms-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-o-transform: rotate(1deg) translateX(-3px); -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	transform: rotate(1deg) translateX(-3px); box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	zoom: 1;
}

.char5:hover{
	-webkit-transform: rotate(3deg) translateX(-5px); -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-moz-transform: rotate(3deg) translateX(-5px); -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-ms-transform: rotate(3deg) translateX(-5px); -ms-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	-o-transform: rotate(3deg) translateX(-5px); -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	transform: rotate(3deg) translateX(-5px); box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.6);
	zoom: 1;
}

.char6:hover, .char9:hover{
	-webkit-transform: rotate(-1deg) translateX(4px); -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	-moz-transform: rotate(-1deg) translateX(4px); -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	-ms-transform: rotate(-1deg) translateX(4px); -ms-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	-o-transform: rotate(-1deg) translateX(4px); -o-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	transform: rotate(-1deg) translateX(4px); box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
	zoom: 1;
}

.char2{left: 1.15em;} 
.char5{left: 3.46em;margin-top: .03em;} 
.char7{left: 5.01em;margin-top: .04em;} 
.char8{left: 5.77em;} 
.char3{left: 1.93em; 
	-webkit-transform: rotate(1.5deg);
	-moz-transform: rotate(1.5deg);
	-o-transform: rotate(1.5deg);
	-ms-transform: rotate(1.5deg);
	-transform: rotate(1.5deg);
}

.char3{left: 1.93em; 
	-webkit-transform: rotate(1.5deg);
	-moz-transform: rotate(1.5deg);
	-o-transform: rotate(1.5deg);
	-ms-transform: rotate(1.5deg);
	-transform: rotate(1.5deg);
}

.char4{left: 2.69em; 
	-webkit-transform: rotate(-1.3deg);
	-moz-transform: rotate(-1.3deg);
	-o-transform: rotate(-1.3deg);
	-ms-transform: rotate(-1.3deg);
	-transform: rotate(-1.3deg);
} 

.char6{left: 4.24em;
	-webkit-transform: rotate(1.2deg);
	-moz-transform: rotate(1.2deg);
	-o-transform: rotate(1.2deg);
	-ms-transform: rotate(1.2deg);
	-transform: rotate(1.2deg);
} 

.char1{left: .16em; margin-top: .03em; background-size:135%!important;
	-webkit-transform: rotate(2deg); 
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-transform: rotate(2deg);
}

.char9{left: 6.53em;margin-top: .04em;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-transform: rotate(2deg);
}